<!DOCTYPE html>
<html lang="en">
  {% block head-prepends %}
  {% endblock %}
  {% block head-content %}
  <head>
    <meta charset="utf-8">
    <title>
    {% block page-title %}
      Clozhang Tutorials, Info, & News
      {% block page-subtitle %}
      {{subtitle}}
      {% endblock %}
    {% endblock %}
    </title>
    {% block pre-metadata %}
    {% endblock %}
    {% block site-metadata %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="description" content="">
    <meta name="author" content="">

    {% endblock %}
    {% block page-metadata %}
    {% endblock %}
    {% block post-metadata %}
    {% endblock %}

    <link rel="alternate" type="application/atom+xml" title="Feed" href="/blog/atom.xml" />

    <!-- Favicon Setup /-->
    <link rel="apple-touch-icon" sizes="180x180" href="/blog/assets/icons/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/blog/assets/icons/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/blog/assets/icons/favicon-16x16.png?v=1">
    <link rel="manifest" href="/blog/assets/icons/manifest.json?v=1">
    <link rel="mask-icon" href="/blog/assets/icons/safari-pinned-tab.svg?v=1" color="#5bbad5">
    <link rel="shortcut icon" href="/blog/assets/icons/favicon.ico?v=1">
    <meta name="apple-mobile-web-app-title" content="Clozhang Blog">
    <meta name="application-name" content="Clozhang Blog">
    <meta name="msapplication-config" content="/blog/assets/icons/browserconfig.xml?v=1">
    <meta name="theme-color" content="#ffffff">

    {% block pre-css %}
    {% endblock %}
    <link href="/blog/assets/highlight/styles/clozhang.css" rel="stylesheet">
    <link href="/blog/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/blog/assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab" rel="stylesheet">
    {% block post-css %}
    {% endblock %}

    {% block pre-head-scripts %}
    {% endblock %}


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/blog/assets/highlight/highlight.pack.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>

    {% block post-head-scripts %}
    {% endblock %}

    {% block head-postpends %}
    {% endblock %}
  </head>
  {% endblock %}
<body>
  {% block body-content %}
   {% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      {% block header-content %}
      {% endblock %}
    </nav>
    {% endblock %}
    {% block main %}
    <main>
      {% block main-content %}
      <div class="widewrapper main">
        {% block wrapped-main-content %}
        <div class="container">
          {% block contained-main-content %}
          {% endblock %}
        </div>
        {% endblock %}
      </div>
      {% endblock %}
    </main>
    {% endblock %}
    <div class="container">
      {% block footer %}
      <footer class="footer">
        {% block footer-content %}
        {% endblock %}
      </footer>
      {% endblock %}
    </div>

    {% block post-scripts %}
    {% endblock %}
    {% block post-post-scripts %}
    {% endblock %}
  {% endblock %}
  </body>
</html>
